<component name="libraryTable">
  <library name="spring-cloud-netflix-eureka-client-2.2.0.RELEASE">
    <CLASSES>
      <root url="jar://D:/MavenRepository/org/springframework/cloud/spring-cloud-starter-netflix-eureka-client/2.2.0.RELEASE/spring-cloud-netflix-eureka-client-2.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>